.transactionHistoryContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

}

.transactionHistory {
    margin-top: 40px;
    width: 100%;
    border-collapse: collapse;
}

.transactionHistoryBoxTitle {
    background-color: rgb(25, 25, 25);
    color: rgb(232, 226, 226);
    font-size: 20px;
}

.transactionHistoryTitle,
.transactionHistoryCells {
    padding: 10px;
    border: 2px solid #0f0f0f;
    text-align: center;
}

.transactionHistoryCells {
    font-size: 18px;
    font-weight: 600;
    color: #171616;
}

.transactionHistoryKey:nth-child(even) {
    background-color: #d9d7e3;
}
